<div class="LucilorExt-intro-container">
  <div class="glowing-card">
    <div class="LucilorExt-intro">
      <div class="LucilorExt-intro-name">{{name}}</div>
      <div class="LucilorExt-intro-author">作者：{{author}}</div>
      <div class="LucilorExt-intro-version">版本：v{{version}}</div>
      <div class="LucilorExt-intro-content"></div>
    </div>
  </div>
  <div class="LucilorExt-button-group">
    <div class="LucilorExt-button" onclick="LucilorExt.menuHelper.导出数据()">导出数据</div>
    <div class="LucilorExt-button" onclick="LucilorExt.menuHelper.导入数据()">导入数据</div>
    <div class="LucilorExt-button" onclick="LucilorExt.menuHelper.导入数据(true)">导入数据（低配）</div>
    <div class="LucilorExt-button" onclick="LucilorExt.menuHelper.导出武将配置()">导出武将配置</div>
    <!-- <div class="LucilorExt-button" onclick="LucilorExt.menuHelper.开启十周年UI()">开启十周年UI</div>
    <div class="LucilorExt-button" onclick="LucilorExt.menuHelper.关闭十周年UI()">关闭十周年UI</div> -->
  </div>
</div>
